
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: Roboto, sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}

.darkGrey {
    background-color: #1F2937;
}

.lightGrey {
    background-color: #E5E7EB;
}

.offWhite {
    background-color: #fffffff5;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.headerLeft {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
    flex: 1 1 auto;
    margin-right: auto;
    padding-left: 40px;
    box-sizing: border-box;
}

.headerSpacer {
    flex: 2 1 auto;
    width: 400px;
    margin: auto;
}

.leftsideContent h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.linksList {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex: 1 1 auto;
    margin-left: auto;
}

.linksList li {
    flex: 1 1 auto;
}

.linksList a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.signUpButton {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    border: none;
    font-weight: bold;
    font-size: 18px;
}

.secondMain h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.quote,
.quoteAuthor {
    color: #1F2937;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    text-align: left;
}

.quoteAuthor {
    text-align: right;
    margin-right: 75px;
    font-weight: bolder;
    font-size: 24px;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header,
.footer {
    flex: 1 1 auto;
}

.firstMain,
.secondMain,
.thirdMain,
.fourthMain {
    flex: 2 1 auto;
    width: 100%;
}

.infoContainer {
    height: auto;
    padding-top: 30px;
}

.imagesList {
    display: flex;
    list-style-type: none;
    padding: 20px;
    /*width: 100%;*/
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
    padding-left: 250px;
    padding-right: 250px;
}

.flexImageItem1 {
    flex: 1 1 auto;
}

.flexImageItem2 {
    flex: 1 1 auto;
}

.flexImageItem3 {
    flex: 1 1 auto;
}

.flexImageItem4 {
    flex: 1 1 auto;
}

.imagesList li {
    /*flex: 1 1 auto;*/
    width: 150px;
    height: 200px;
    border-radius: 25px;
    text-align: center;
    box-sizing: border-box;
    padding: 0px;
}


.imagesList li img {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 25px;
    margin: 0px;
}

.mainInfoContainer {
    display: flex;
    padding: 60px;
    padding-bottom: 80px;
    gap: 120px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.leftsideContent,
.rightsideContent {
    height: 250px;
    flex: 1 1 auto;
}

.leftsideContent {
    padding-left: 30px;
}

.leftsideContent p {
    color: #F9FAF8;
}

.rightsideContent img {
    height: 250px;
    width: 300px;
}

.footText {
    color: #E5E7EB;
    font-size: 15px;
    text-align: center;
}

.footer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.fullBodyContainer {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
}

.leftSideBar,
.rightSideBar {
    flex: 1 1 auto;
    background-color: #E5E7EB;
    width: 300px;
}

.pageContainer {
    flex: 2 1 auto;
    
}

.callToAction {
    background-color: #3882F6;
    padding: 20px 30px;
    display: flex;
    box-sizing: border-box;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}

.actionContent,
.actionbutton {
    flex: 1 1 auto;
}

.actionContent {
    color: #F9FAF8;
    text-align: left;
    padding-left: 40px;
    box-sizing: border-box;
}

.bigAction {
    font-weight: bold;
    font-size: 24px;
}

.smallAction {
    font-size: 20px;
}

.actionButton {
    border:3px solid #F9FAF8;
}

.actionContainer {
    padding: 70px 200px;
    box-sizing: border-box;
}

.quoteContainer {
    box-sizing: border-box;
    width: auto;
    height: 300px;
    padding-left: 80px;
    padding-right: 80px;
}

.thirdMain {
    padding: 50px 200px;
    padding-bottom: 0px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -50px;
}